@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: 'Georgia';
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/* Apply some basic styling */
.title {
    text-align: center;
    margin: 20px 0;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.table-container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    /* Adjusted margin */
    padding-right: 10px;
    /* Added padding */
    border-right: 1px solid #ddd;
    /* Vertical line */
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.user-table th,
.user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.user-table th {
    background-color: #f2f2f2;
}

.btn {
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px;
    min-width: 70px;
}

.form-container {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: 20px;
    background-color: #f9f9f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 15px;
    /* Adjusted margin */
    padding-left: 10px;
    /* Added padding */
    border-left: 1px solid #ddd;
    /* Vertical line */
}

.form-input {
    width: 100%;
}

.input-text {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    width: 100%;
}

.btn-add {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin: 15px;
}

.btn-add:hover {
    background-color: #0056b3;
}

.btn-container {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .form-container {
        max-width: 100%;
        border-left: none;
        /* Remove vertical line */
        padding-left: 0;
        /* Remove padding */
    }

    .table-container {
        border-right: none;
        /* Remove vertical line */
        padding-right: 0;
        /* Remove padding */
    }

    .btn-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}