/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100;500;900&family=Poppins:wght@500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    animation: backgroundAnimation 20s linear infinite alternate;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    max-width: 1200px;
}

.title {
    text-align: center;
    color: #3498db;
    font-size: 36px;
    margin-bottom: 20px;
}

.input-text,
.btn-add,
.btn,
.label {
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.input-text {
    width: 100%;
    border: black solid;
}

.btn-add,
.btn,
.label {
    background-color: #3498db;
    color: #fff;
    border: black solid;
}

.btn-add:hover,
.btn:hover,
.label:hover {
    background-color: #2980b9;
}

.form-input {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.user-table {
    margin: 20px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    background-color: #ecf0f1;
    overflow-x: auto;
}

.user-table th,
.user-table td {
    padding: 10px;
    border-radius: 5px;
    font-family: 'Noto Serif', serif;
    border: black solid;
}

.user-table th {
    background-color: #3498db;
    color: #fff;
}

.edit-label {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 16px;
    padding: 15px;
}

.input-set {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.btn-edit {
    padding: 15px;
}

.up-btn {
    height: 50px;
}

/* Media Queries */
@media (max-width: 768px) {
    .title {
        font-size: 28px;
    }

    .input-text,
    .btn-add,
    .btn,
    .label {
        margin: 5px;
        padding: 10px;
        font-size: 14px;
    }

    .input-text {
        height: 30px;
    }

    .edit-label {
        font-size: 14px;
        margin-bottom: 10px;
        padding: 15px;
    }

    .btn-edit {
        padding: 10px;
    }

    .up-btn {
        height: 40px;
    }
}

.inputs {
    display: flex;
}

.btn-container{
    display: flex;
    flex-direction: column;
}