@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100;500;900&family=Poppins:wght@500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    animation: backgroundAnimation 20s linear infinite alternate;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

.title {
    text-align: center;
    color: #3498db;
    font-size: 50px;
    margin-bottom: 20px;
}

.input-text,
.btn-add,
.btn,
.label {
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ecf0f1;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.input-text {
    height: 40px;
    width: 100%;
    border: black solid;
}

.btn-add,
.btn,
.label {
    background-color: #3498db;
    color: #fff;
    border: black solid;
}

.btn-add:hover,
.btn:hover,
.label:hover {
    background-color: #2980b9;
}

.form-input {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.user-table {
    margin: 20px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    background-color: #ecf0f1;
}

.user-table th,
.user-table td {
    padding: 5px;
    border-radius: 5px;
    font-family: 'Noto Serif', serif;
    border: black solid;
}

.user-table th {
    background-color: #3498db;
    color: #fff;
}

.edit {
    justify-content: flex-start;
}